@model User
<h1>Enter Your Information</h1>

<form asp-action="Show" asp-controller="Home" method="post">

<span asp-validation-for="FirstName" style="color:red;"></span>
<label asp-for="FirstName"></label>
<input asp-for="FirstName">

<span asp-validation-for="LastName"></span><br>
<label asp-for="LastName"></label>
<input asp-for="LastName">

<span asp-validation-for="Age"></span><br>
<label asp-for="Age"></label>
<input asp-for="Age">

<span asp-validation-for="Email"></span><br>
<label asp-for="Email"></label>
<input asp-for="Email">

<span asp-validation-for="Password"></span><br>
<label asp-for="Password"></label>
<input asp-for="Password"><br>
<input type="submit" value="ADD USER">
</form>